<h1>Blog Posts</h1>

<ul>
  <% @articles.each do |article| %>
  <li>
    <h4><%= article.title %></h4>
    <p><%= article.body.truncate(150, link_to("... read more", resource(article))) %></p>
  </li>
  <% end %>
</ul>